.cntrl-label {
	-fx-font: normal bold 13.0px 'Tahoma sans-serif';
	-fx-text-fill: #001932;
}

.title-label {
	-fx-font: normal bold 22.0px 'Tahoma sans-serif';
	-fx-text-fill: #286c9d;
}

.grid-pane {
	-fx-background-color: #f2f2f2;
}

.btn {
	-fx-background-color: transparent;  
    -fx-text-fill: white;
    -fx-border-radius: 3.0px;
	-fx-font: normal bold 12.0px 'sans-serif';
}

.btn-restore-defaults {
	 -fx-background-color: linear-gradient(to bottom, derive(#00c9c0, 30.0%), #00c9c0);
	/*-fx-background-color: #00c9c0;*/
}

.btn-restore-defaults:hover {
	-fx-background-color: linear-gradient(to bottom, derive(#00a19a, 30.0%), #00a19a);
	/*-fx-background-color: #00a19a;*/
}

.btn-save-settings {
	 -fx-background-color: linear-gradient(to bottom, derive(#24cb4b, 30.0%), #24cb4b);
	/*-fx-background-color: #24cb4b;*/
}

.btn-save-settings:hover {
	-fx-background-color: linear-gradient(to bottom, derive(#1ea93f, 30.0%), #1ea93f);
	/*-fx-background-color: #1ea93f;*/
}

.btn-cancel-settings {
	 -fx-background-color: linear-gradient(to bottom, derive(#ed660e, 30.0%), #ed660e);
	/*-fx-background-color: #ed660e;*/
}

.btn-cancel-settings:hover {
	-fx-background-color: linear-gradient(to bottom, derive(#c8560b, 30.0%), #c8560b);
	/*-fx-background-color: #c8560b;*/
}

.btn-open-dir-chooser {
	 -fx-background-color: linear-gradient(to bottom, derive(#1184dc, 30.0%), #1184dc);
	/*-fx-background-color: #1184dc;*/
}

.btn-open-dir-chooser:hover {
	 -fx-background-color: linear-gradient(to bottom, derive(#0e6eb8, 30.0%), #0e6eb8);
	/* -fx-background-color: #0e6eb8;*/ 
}

.menu, .menu-item, .check-box, .combo-box, .radio-button, .toggle-switch, .button {
	-fx-cursor: hand;
}

.check-box .mark {
  	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
    			l0.003,0.004L14.596,2.055z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.toggle-switch .thumb {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            -fx-inner-border,
                            -fx-body-color;
}

.toggle-switch .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            linear-gradient(to bottom, derive(#d02000, 30.0%), #d02000);
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            linear-gradient(to bottom, derive(#00d800, 30.0%), #00d800);
}

.btn-start {
	 -fx-background-color: linear-gradient(to bottom, derive(#2ebd2e, 30.0%), #2ebd2e);
	/*-fx-background-color: #2ebd2e;*/
}

.btn-start:hover {
	 -fx-background-color: linear-gradient(to bottom, derive(#269e26, 30.0%), #269e26);
	/*-fx-background-color: #269e26;*/  
}

.list-view-auto-mode {
	-fx-background-image: url("../img/benicular-bckgrnd.png");
	-fx-background-color: transparent;
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 545.0 250.0;
    -fx-background-position: center center;
    -fx-border-width: 1.0px;
    -fx-border-color: lightgrey;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0.0px 0.75em to 0.75em 0.0px,
        repeat,
        -fx-accent 0.0%,
        -fx-accent 49.0%,
        derive(-fx-accent, 30.0%) 50.0%,
        derive(-fx-accent, 30.0%) 99.0%
    );
}